@use 'tokens' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $ff-base;
  font-size: $fs-md;
  line-height: $lh-base;
  color: $c-text;
  background: $c-bg;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  font: inherit;
  color: inherit;
}
